<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>SeeNSay_dog_ANIM_00000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{588, 280}, {120, 106}}</string>
			<key>spriteOffset</key>
			<string>{168, -13}</string>
			<key>spriteSize</key>
			<string>{120, 106}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 222}, {120, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_dog_ANIM_00001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{588, 279}, {126, 108}}</string>
			<key>spriteOffset</key>
			<string>{171, -13}</string>
			<key>spriteSize</key>
			<string>{126, 108}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 112}, {126, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_dog_ANIM_00002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{589, 278}, {130, 108}}</string>
			<key>spriteOffset</key>
			<string>{174, -12}</string>
			<key>spriteSize</key>
			<string>{130, 108}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 2}, {130, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_dog_ANIM_00003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{589, 278}, {122, 108}}</string>
			<key>spriteOffset</key>
			<string>{170, -12}</string>
			<key>spriteSize</key>
			<string>{122, 108}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 332}, {122, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_dog_ANIM_00004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{589, 278}, {118, 108}}</string>
			<key>spriteOffset</key>
			<string>{168, -12}</string>
			<key>spriteSize</key>
			<string>{118, 108}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 332}, {118, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_dog_ANIM_00005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{589, 278}, {122, 108}}</string>
			<key>spriteOffset</key>
			<string>{170, -12}</string>
			<key>spriteSize</key>
			<string>{122, 108}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 222}, {122, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_dog_ANIM_00006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{589, 278}, {130, 108}}</string>
			<key>spriteOffset</key>
			<string>{174, -12}</string>
			<key>spriteSize</key>
			<string>{130, 108}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {130, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_dog_ANIM_00007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{589, 278}, {122, 108}}</string>
			<key>spriteOffset</key>
			<string>{170, -12}</string>
			<key>spriteSize</key>
			<string>{122, 108}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{130, 112}, {122, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_dog_ANIM_00008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{589, 278}, {118, 108}}</string>
			<key>spriteOffset</key>
			<string>{168, -12}</string>
			<key>spriteSize</key>
			<string>{118, 108}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 332}, {118, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_dog_ANIM_00009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{589, 278}, {122, 108}}</string>
			<key>spriteOffset</key>
			<string>{170, -12}</string>
			<key>spriteSize</key>
			<string>{122, 108}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 222}, {122, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_dog_ANIM_00010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{588, 279}, {130, 108}}</string>
			<key>spriteOffset</key>
			<string>{173, -13}</string>
			<key>spriteSize</key>
			<string>{130, 108}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{266, 2}, {130, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_dog_ANIM_00011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{588, 280}, {120, 106}}</string>
			<key>spriteOffset</key>
			<string>{168, -13}</string>
			<key>spriteSize</key>
			<string>{120, 106}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 112}, {120, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>