<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>SeeNSay_dog_ANIM_00000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{293, 139}, {62, 54}}</string>
			<key>spriteOffset</key>
			<string>{84, -6}</string>
			<key>spriteSize</key>
			<string>{62, 54}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 2}, {62, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_dog_ANIM_00001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{293, 139}, {64, 56}}</string>
			<key>spriteOffset</key>
			<string>{85, -7}</string>
			<key>spriteSize</key>
			<string>{64, 56}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 176}, {64, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_dog_ANIM_00002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{294, 138}, {66, 56}}</string>
			<key>spriteOffset</key>
			<string>{87, -6}</string>
			<key>spriteSize</key>
			<string>{66, 56}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {66, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_dog_ANIM_00003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{294, 138}, {62, 56}}</string>
			<key>spriteOffset</key>
			<string>{85, -6}</string>
			<key>spriteSize</key>
			<string>{62, 56}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{68, 176}, {62, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_dog_ANIM_00004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{294, 138}, {60, 56}}</string>
			<key>spriteOffset</key>
			<string>{84, -6}</string>
			<key>spriteSize</key>
			<string>{60, 56}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{70, 118}, {60, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_dog_ANIM_00005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{294, 138}, {62, 56}}</string>
			<key>spriteOffset</key>
			<string>{85, -6}</string>
			<key>spriteSize</key>
			<string>{62, 56}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{70, 2}, {62, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_dog_ANIM_00006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{294, 138}, {66, 56}}</string>
			<key>spriteOffset</key>
			<string>{87, -6}</string>
			<key>spriteSize</key>
			<string>{66, 56}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 60}, {66, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_dog_ANIM_00007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{294, 138}, {62, 56}}</string>
			<key>spriteOffset</key>
			<string>{85, -6}</string>
			<key>spriteSize</key>
			<string>{62, 56}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{70, 60}, {62, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_dog_ANIM_00008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{294, 138}, {60, 56}}</string>
			<key>spriteOffset</key>
			<string>{84, -6}</string>
			<key>spriteSize</key>
			<string>{60, 56}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 58}, {60, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_dog_ANIM_00009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{294, 138}, {62, 56}}</string>
			<key>spriteOffset</key>
			<string>{85, -6}</string>
			<key>spriteSize</key>
			<string>{62, 56}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 118}, {62, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_dog_ANIM_00010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{293, 139}, {66, 56}}</string>
			<key>spriteOffset</key>
			<string>{86, -7}</string>
			<key>spriteSize</key>
			<string>{66, 56}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 118}, {66, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_dog_ANIM_00011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{293, 139}, {62, 54}}</string>
			<key>spriteOffset</key>
			<string>{84, -6}</string>
			<key>spriteSize</key>
			<string>{62, 54}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 176}, {62, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 256}</string>
	</dict>
</dict>
</plist>