<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>SeeNSay_duck_ANIM_00000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 62}, {62, 50}}</string>
			<key>spriteOffset</key>
			<string>{-113, 73}</string>
			<key>spriteSize</key>
			<string>{62, 50}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 54}, {62, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 62}, {62, 50}}</string>
			<key>spriteOffset</key>
			<string>{-113, 73}</string>
			<key>spriteSize</key>
			<string>{62, 50}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 106}, {62, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 61}, {60, 52}}</string>
			<key>spriteOffset</key>
			<string>{-114, 73}</string>
			<key>spriteSize</key>
			<string>{60, 52}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 56}, {60, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{98, 60}, {56, 54}}</string>
			<key>spriteOffset</key>
			<string>{-114, 73}</string>
			<key>spriteSize</key>
			<string>{56, 54}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 166}, {56, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 61}, {60, 52}}</string>
			<key>spriteOffset</key>
			<string>{-114, 73}</string>
			<key>spriteSize</key>
			<string>{60, 52}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{194, 2}, {60, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 62}, {62, 50}}</string>
			<key>spriteOffset</key>
			<string>{-113, 73}</string>
			<key>spriteSize</key>
			<string>{62, 50}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{60, 106}, {62, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 62}, {62, 50}}</string>
			<key>spriteOffset</key>
			<string>{-113, 73}</string>
			<key>spriteSize</key>
			<string>{62, 50}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{66, 54}, {62, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 62}, {62, 50}}</string>
			<key>spriteOffset</key>
			<string>{-113, 73}</string>
			<key>spriteSize</key>
			<string>{62, 50}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{130, 54}, {62, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 62}, {62, 50}}</string>
			<key>spriteOffset</key>
			<string>{-113, 73}</string>
			<key>spriteSize</key>
			<string>{62, 50}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{130, 2}, {62, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 62}, {62, 50}}</string>
			<key>spriteOffset</key>
			<string>{-113, 73}</string>
			<key>spriteSize</key>
			<string>{62, 50}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {62, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 62}, {62, 50}}</string>
			<key>spriteOffset</key>
			<string>{-113, 73}</string>
			<key>spriteSize</key>
			<string>{62, 50}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{66, 2}, {62, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 61}, {60, 52}}</string>
			<key>spriteOffset</key>
			<string>{-114, 73}</string>
			<key>spriteSize</key>
			<string>{60, 52}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{60, 162}, {60, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{98, 60}, {56, 54}}</string>
			<key>spriteOffset</key>
			<string>{-114, 73}</string>
			<key>spriteSize</key>
			<string>{56, 54}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 110}, {56, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 61}, {60, 52}}</string>
			<key>spriteOffset</key>
			<string>{-114, 73}</string>
			<key>spriteSize</key>
			<string>{60, 52}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{122, 158}, {60, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 62}, {62, 50}}</string>
			<key>spriteOffset</key>
			<string>{-113, 73}</string>
			<key>spriteSize</key>
			<string>{62, 50}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{188, 110}, {62, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 256}</string>
	</dict>
</dict>
</plist>