<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>SeeNSay_duck_ANIM_00000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{194, 125}, {120, 98}}</string>
			<key>spriteOffset</key>
			<string>{-226, 146}</string>
			<key>spriteSize</key>
			<string>{120, 98}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {120, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{194, 125}, {120, 98}}</string>
			<key>spriteOffset</key>
			<string>{-226, 146}</string>
			<key>spriteSize</key>
			<string>{120, 98}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{124, 2}, {120, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{194, 123}, {116, 102}}</string>
			<key>spriteOffset</key>
			<string>{-228, 146}</string>
			<key>spriteSize</key>
			<string>{116, 102}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 102}, {116, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{198, 122}, {108, 102}}</string>
			<key>spriteOffset</key>
			<string>{-228, 147}</string>
			<key>spriteSize</key>
			<string>{108, 102}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 306}, {108, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{194, 123}, {116, 102}}</string>
			<key>spriteOffset</key>
			<string>{-228, 146}</string>
			<key>spriteSize</key>
			<string>{116, 102}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 206}, {116, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{194, 125}, {120, 98}}</string>
			<key>spriteOffset</key>
			<string>{-226, 146}</string>
			<key>spriteSize</key>
			<string>{120, 98}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 2}, {120, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{194, 125}, {120, 98}}</string>
			<key>spriteOffset</key>
			<string>{-226, 146}</string>
			<key>spriteSize</key>
			<string>{120, 98}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{368, 2}, {120, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{194, 125}, {120, 98}}</string>
			<key>spriteOffset</key>
			<string>{-226, 146}</string>
			<key>spriteSize</key>
			<string>{120, 98}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 102}, {120, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{194, 125}, {120, 98}}</string>
			<key>spriteOffset</key>
			<string>{-226, 146}</string>
			<key>spriteSize</key>
			<string>{120, 98}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 102}, {120, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{194, 125}, {120, 98}}</string>
			<key>spriteOffset</key>
			<string>{-226, 146}</string>
			<key>spriteSize</key>
			<string>{120, 98}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{364, 102}, {120, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{194, 125}, {120, 98}}</string>
			<key>spriteOffset</key>
			<string>{-226, 146}</string>
			<key>spriteSize</key>
			<string>{120, 98}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 410}, {120, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{194, 123}, {116, 102}}</string>
			<key>spriteOffset</key>
			<string>{-228, 146}</string>
			<key>spriteSize</key>
			<string>{116, 102}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 310}, {116, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{198, 122}, {108, 102}}</string>
			<key>spriteOffset</key>
			<string>{-228, 147}</string>
			<key>spriteSize</key>
			<string>{108, 102}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{230, 306}, {108, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{194, 123}, {116, 102}}</string>
			<key>spriteOffset</key>
			<string>{-228, 146}</string>
			<key>spriteSize</key>
			<string>{116, 102}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 202}, {116, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_duck_ANIM_00014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{194, 125}, {120, 98}}</string>
			<key>spriteOffset</key>
			<string>{-226, 146}</string>
			<key>spriteSize</key>
			<string>{120, 98}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{242, 410}, {120, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>