<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>SeeNSay_pig_ANIM_00000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 216}, {64, 48}}</string>
			<key>spriteOffset</key>
			<string>{-112, -80}</string>
			<key>spriteSize</key>
			<string>{64, 48}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 204}, {64, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_pig_ANIM_00001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 214}, {64, 52}}</string>
			<key>spriteOffset</key>
			<string>{-112, -80}</string>
			<key>spriteSize</key>
			<string>{64, 52}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 56}, {64, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_pig_ANIM_00002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 215}, {64, 50}}</string>
			<key>spriteOffset</key>
			<string>{-112, -80}</string>
			<key>spriteSize</key>
			<string>{64, 50}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{68, 2}, {64, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_pig_ANIM_00003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 214}, {64, 50}}</string>
			<key>spriteOffset</key>
			<string>{-112, -79}</string>
			<key>spriteSize</key>
			<string>{64, 50}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{68, 158}, {64, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_pig_ANIM_00004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 216}, {64, 48}}</string>
			<key>spriteOffset</key>
			<string>{-112, -80}</string>
			<key>spriteSize</key>
			<string>{64, 48}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 104}, {64, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_pig_ANIM_00005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 216}, {64, 50}}</string>
			<key>spriteOffset</key>
			<string>{-112, -81}</string>
			<key>spriteSize</key>
			<string>{64, 50}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 162}, {64, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_pig_ANIM_00006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 216}, {64, 50}}</string>
			<key>spriteOffset</key>
			<string>{-112, -81}</string>
			<key>spriteSize</key>
			<string>{64, 50}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{68, 106}, {64, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_pig_ANIM_00007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 214}, {64, 52}}</string>
			<key>spriteOffset</key>
			<string>{-112, -80}</string>
			<key>spriteSize</key>
			<string>{64, 52}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {64, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_pig_ANIM_00008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 215}, {64, 50}}</string>
			<key>spriteOffset</key>
			<string>{-112, -80}</string>
			<key>spriteSize</key>
			<string>{64, 50}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 2}, {64, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_pig_ANIM_00009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 214}, {64, 50}}</string>
			<key>spriteOffset</key>
			<string>{-112, -79}</string>
			<key>spriteSize</key>
			<string>{64, 50}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{68, 54}, {64, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_pig_ANIM_00010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 216}, {64, 48}}</string>
			<key>spriteOffset</key>
			<string>{-112, -80}</string>
			<key>spriteSize</key>
			<string>{64, 48}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 154}, {64, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_pig_ANIM_00011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 216}, {64, 50}}</string>
			<key>spriteOffset</key>
			<string>{-112, -81}</string>
			<key>spriteSize</key>
			<string>{64, 50}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 110}, {64, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_pig_ANIM_00012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{96, 216}, {64, 48}}</string>
			<key>spriteOffset</key>
			<string>{-112, -80}</string>
			<key>spriteSize</key>
			<string>{64, 48}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 54}, {64, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{256, 256}</string>
	</dict>
</dict>
</plist>