<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>SeeNSay_horse_ANIM_00000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{166, 19}, {92, 62}}</string>
			<key>spriteOffset</key>
			<string>{-28, 110}</string>
			<key>spriteSize</key>
			<string>{92, 62}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 68}, {92, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_horse_ANIM_00001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{166, 19}, {92, 62}}</string>
			<key>spriteOffset</key>
			<string>{-28, 110}</string>
			<key>spriteSize</key>
			<string>{92, 62}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{204, 2}, {92, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_horse_ANIM_00002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{164, 18}, {94, 64}}</string>
			<key>spriteOffset</key>
			<string>{-29, 110}</string>
			<key>spriteSize</key>
			<string>{94, 64}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{104, 332}, {94, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_horse_ANIM_00003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{164, 18}, {96, 64}}</string>
			<key>spriteOffset</key>
			<string>{-28, 110}</string>
			<key>spriteSize</key>
			<string>{96, 64}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{104, 200}, {96, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_horse_ANIM_00004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{163, 18}, {96, 64}}</string>
			<key>spriteOffset</key>
			<string>{-29, 110}</string>
			<key>spriteSize</key>
			<string>{96, 64}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{104, 266}, {96, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_horse_ANIM_00005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{162, 18}, {100, 64}}</string>
			<key>spriteOffset</key>
			<string>{-28, 110}</string>
			<key>spriteSize</key>
			<string>{100, 64}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {100, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_horse_ANIM_00006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{162, 18}, {100, 64}}</string>
			<key>spriteOffset</key>
			<string>{-28, 110}</string>
			<key>spriteSize</key>
			<string>{100, 64}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 332}, {100, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_horse_ANIM_00007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{162, 18}, {100, 64}}</string>
			<key>spriteOffset</key>
			<string>{-28, 110}</string>
			<key>spriteSize</key>
			<string>{100, 64}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 68}, {100, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_horse_ANIM_00008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{162, 18}, {100, 64}}</string>
			<key>spriteOffset</key>
			<string>{-28, 110}</string>
			<key>spriteSize</key>
			<string>{100, 64}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 200}, {100, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_horse_ANIM_00009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{162, 18}, {100, 64}}</string>
			<key>spriteOffset</key>
			<string>{-28, 110}</string>
			<key>spriteSize</key>
			<string>{100, 64}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 398}, {100, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_horse_ANIM_00010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{162, 18}, {100, 64}}</string>
			<key>spriteOffset</key>
			<string>{-28, 110}</string>
			<key>spriteSize</key>
			<string>{100, 64}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 266}, {100, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_horse_ANIM_00011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{162, 18}, {100, 64}}</string>
			<key>spriteOffset</key>
			<string>{-28, 110}</string>
			<key>spriteSize</key>
			<string>{100, 64}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 134}, {100, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_horse_ANIM_00012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{163, 18}, {98, 64}}</string>
			<key>spriteOffset</key>
			<string>{-28, 110}</string>
			<key>spriteSize</key>
			<string>{98, 64}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{104, 2}, {98, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_horse_ANIM_00013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{164, 18}, {96, 64}}</string>
			<key>spriteOffset</key>
			<string>{-28, 110}</string>
			<key>spriteSize</key>
			<string>{96, 64}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{104, 134}, {96, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_horse_ANIM_00014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{164, 18}, {96, 64}}</string>
			<key>spriteOffset</key>
			<string>{-28, 110}</string>
			<key>spriteSize</key>
			<string>{96, 64}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{104, 68}, {96, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_horse_ANIM_00015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{165, 18}, {94, 64}}</string>
			<key>spriteOffset</key>
			<string>{-28, 110}</string>
			<key>spriteSize</key>
			<string>{94, 64}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 332}, {94, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_horse_ANIM_00016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{166, 19}, {92, 62}}</string>
			<key>spriteOffset</key>
			<string>{-28, 110}</string>
			<key>spriteSize</key>
			<string>{92, 62}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 132}, {92, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>