<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>SeeNSay_cow_ANIM_00000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{174, 249}, {78, 58}}</string>
			<key>spriteOffset</key>
			<string>{-27, -118}</string>
			<key>spriteSize</key>
			<string>{78, 58}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{416, 62}, {78, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_cow_ANIM_00001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{173, 248}, {82, 58}}</string>
			<key>spriteOffset</key>
			<string>{-26, -117}</string>
			<key>spriteSize</key>
			<string>{82, 58}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{90, 122}, {82, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_cow_ANIM_00002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{173, 248}, {84, 58}}</string>
			<key>spriteOffset</key>
			<string>{-25, -117}</string>
			<key>spriteSize</key>
			<string>{84, 58}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 182}, {84, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_cow_ANIM_00003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{173, 248}, {88, 58}}</string>
			<key>spriteOffset</key>
			<string>{-23, -117}</string>
			<key>spriteSize</key>
			<string>{88, 58}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 62}, {88, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_cow_ANIM_00004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{173, 248}, {88, 58}}</string>
			<key>spriteOffset</key>
			<string>{-23, -117}</string>
			<key>spriteSize</key>
			<string>{88, 58}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {88, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_cow_ANIM_00005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{173, 248}, {86, 58}}</string>
			<key>spriteOffset</key>
			<string>{-24, -117}</string>
			<key>spriteSize</key>
			<string>{86, 58}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 122}, {86, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_cow_ANIM_00006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{173, 248}, {84, 58}}</string>
			<key>spriteOffset</key>
			<string>{-25, -117}</string>
			<key>spriteSize</key>
			<string>{84, 58}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{88, 182}, {84, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_cow_ANIM_00007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{173, 248}, {82, 58}}</string>
			<key>spriteOffset</key>
			<string>{-26, -117}</string>
			<key>spriteSize</key>
			<string>{82, 58}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 2}, {82, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_cow_ANIM_00008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{173, 248}, {80, 58}}</string>
			<key>spriteOffset</key>
			<string>{-27, -117}</string>
			<key>spriteSize</key>
			<string>{80, 58}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 2}, {80, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_cow_ANIM_00009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{173, 248}, {80, 58}}</string>
			<key>spriteOffset</key>
			<string>{-27, -117}</string>
			<key>spriteSize</key>
			<string>{80, 58}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 122}, {80, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_cow_ANIM_00010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{173, 248}, {80, 58}}</string>
			<key>spriteOffset</key>
			<string>{-27, -117}</string>
			<key>spriteSize</key>
			<string>{80, 58}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 62}, {80, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_cow_ANIM_00011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{173, 248}, {80, 58}}</string>
			<key>spriteOffset</key>
			<string>{-27, -117}</string>
			<key>spriteSize</key>
			<string>{80, 58}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 62}, {80, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_cow_ANIM_00012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{173, 248}, {80, 58}}</string>
			<key>spriteOffset</key>
			<string>{-27, -117}</string>
			<key>spriteSize</key>
			<string>{80, 58}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 182}, {80, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_cow_ANIM_00013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{173, 248}, {78, 58}}</string>
			<key>spriteOffset</key>
			<string>{-28, -117}</string>
			<key>spriteSize</key>
			<string>{78, 58}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{418, 2}, {78, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_cow_ANIM_00014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{173, 248}, {78, 58}}</string>
			<key>spriteOffset</key>
			<string>{-28, -117}</string>
			<key>spriteSize</key>
			<string>{78, 58}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 62}, {78, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_cow_ANIM_00015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{173, 248}, {78, 58}}</string>
			<key>spriteOffset</key>
			<string>{-28, -117}</string>
			<key>spriteSize</key>
			<string>{78, 58}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 2}, {78, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_cow_ANIM_00016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{173, 248}, {78, 58}}</string>
			<key>spriteOffset</key>
			<string>{-28, -117}</string>
			<key>spriteSize</key>
			<string>{78, 58}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{336, 62}, {78, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_cow_ANIM_00017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{173, 248}, {78, 58}}</string>
			<key>spriteOffset</key>
			<string>{-28, -117}</string>
			<key>spriteSize</key>
			<string>{78, 58}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{338, 2}, {78, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_cow_ANIM_00018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{173, 248}, {78, 58}}</string>
			<key>spriteOffset</key>
			<string>{-28, -117}</string>
			<key>spriteSize</key>
			<string>{78, 58}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 182}, {78, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_cow_ANIM_00019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{174, 249}, {78, 58}}</string>
			<key>spriteOffset</key>
			<string>{-27, -118}</string>
			<key>spriteSize</key>
			<string>{78, 58}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 122}, {78, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 256}</string>
	</dict>
</dict>
</plist>