<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>SeeNSay_pig_ANIM_00000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{194, 432}, {124, 96}}</string>
			<key>spriteOffset</key>
			<string>{-224, -160}</string>
			<key>spriteSize</key>
			<string>{124, 96}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 102}, {124, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_pig_ANIM_00001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{193, 430}, {124, 100}}</string>
			<key>spriteOffset</key>
			<string>{-225, -160}</string>
			<key>spriteSize</key>
			<string>{124, 100}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 104}, {124, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_pig_ANIM_00002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{194, 431}, {124, 98}}</string>
			<key>spriteOffset</key>
			<string>{-224, -160}</string>
			<key>spriteSize</key>
			<string>{124, 98}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 206}, {124, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_pig_ANIM_00003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{194, 430}, {124, 98}}</string>
			<key>spriteOffset</key>
			<string>{-224, -159}</string>
			<key>spriteSize</key>
			<string>{124, 98}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 306}, {124, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_pig_ANIM_00004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{194, 432}, {124, 96}}</string>
			<key>spriteOffset</key>
			<string>{-224, -160}</string>
			<key>spriteSize</key>
			<string>{124, 96}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 2}, {124, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_pig_ANIM_00005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{193, 432}, {126, 98}}</string>
			<key>spriteOffset</key>
			<string>{-224, -161}</string>
			<key>spriteSize</key>
			<string>{126, 98}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 104}, {126, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_pig_ANIM_00006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{193, 432}, {126, 98}}</string>
			<key>spriteOffset</key>
			<string>{-224, -161}</string>
			<key>spriteSize</key>
			<string>{126, 98}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{130, 2}, {126, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_pig_ANIM_00007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{193, 430}, {126, 100}}</string>
			<key>spriteOffset</key>
			<string>{-224, -160}</string>
			<key>spriteSize</key>
			<string>{126, 100}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {126, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_pig_ANIM_00008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{194, 431}, {124, 98}}</string>
			<key>spriteOffset</key>
			<string>{-224, -160}</string>
			<key>spriteSize</key>
			<string>{124, 98}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 304}, {124, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_pig_ANIM_00009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{194, 430}, {124, 98}}</string>
			<key>spriteOffset</key>
			<string>{-224, -159}</string>
			<key>spriteSize</key>
			<string>{124, 98}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 304}, {124, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_pig_ANIM_00010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{194, 432}, {124, 96}}</string>
			<key>spriteOffset</key>
			<string>{-224, -160}</string>
			<key>spriteSize</key>
			<string>{124, 96}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{380, 298}, {124, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_pig_ANIM_00011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{193, 432}, {126, 98}}</string>
			<key>spriteOffset</key>
			<string>{-224, -161}</string>
			<key>spriteSize</key>
			<string>{126, 98}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{128, 204}, {126, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeeNSay_pig_ANIM_00012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{194, 432}, {124, 96}}</string>
			<key>spriteOffset</key>
			<string>{-224, -160}</string>
			<key>spriteSize</key>
			<string>{124, 96}</string>
			<key>spriteSourceSize</key>
			<string>{960, 640}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 200}, {124, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
	</dict>
</dict>
</plist>