<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backpack</key>
	<array>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>BlueBackpackStrapOn_iPhone.png</string>
			<key>file-dressed2</key>
			<string>BlueBackpackOn_iPhone.png</string>
			<key>file-image</key>
			<string>BlueBackpack_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_backpack.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Backpack</string>
			<key>text_esp</key>
			<string>Mochila</string>
		</dict>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>RedBackpackOn_iPhone.png</string>
			<key>file-dressed2</key>
			<string>RedBackpackBehindDominoOn_iPhone.png</string>
			<key>file-image</key>
			<string>RedBackpack_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_backpack.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Backpack</string>
			<key>text_esp</key>
			<string>Mochila</string>
		</dict>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>PurpleBackpackOn_iPhone.png</string>
			<key>file-dressed2</key>
			<string>PurpleBackpackBehindDominoOn_iPhone.png</string>
			<key>file-image</key>
			<string>PurpleBackpack_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_backpack.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Backpack</string>
			<key>text_esp</key>
			<string>Mochila</string>
		</dict>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>YellowBackpackOn_iPhone.png</string>
			<key>file-dressed2</key>
			<string>YellowBackpackBehindDominoOn_iPhone.png</string>
			<key>file-image</key>
			<string>YellowBackpack_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_backpack.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Backpack</string>
			<key>text_esp</key>
			<string>Mochila</string>
		</dict>
	</array>
	<key>boots</key>
	<array>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>BlueBootsOn_iPhone.png</string>
			<key>file-image</key>
			<string>BlueBoots_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_boots.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Boots</string>
			<key>text_esp</key>
			<string>Botas</string>
		</dict>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>RedBootsOn_iPhone.png</string>
			<key>file-image</key>
			<string>RedBoots_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_boots.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Boots</string>
			<key>text_esp</key>
			<string>Botas</string>
		</dict>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>PurpleBootsOn_iPhone.png</string>
			<key>file-image</key>
			<string>PurpleBoots_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_boots.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Boots</string>
			<key>text_esp</key>
			<string>Botas</string>
		</dict>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>YellowBootsOn_iPhone.png</string>
			<key>file-image</key>
			<string>YellowBoots_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_boots.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Boots</string>
			<key>text_esp</key>
			<string>Botas</string>
		</dict>
	</array>
	<key>hat</key>
	<array>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>BlueHatOn_iPhone.png</string>
			<key>file-image</key>
			<string>BlueHat_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_hat.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Hat</string>
			<key>text_esp</key>
			<string>Gorra</string>
		</dict>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>RedHatOn_iPhone.png</string>
			<key>file-image</key>
			<string>RedHat_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_hat.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Hat</string>
			<key>text_esp</key>
			<string>Gorra</string>
		</dict>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>PurpleHatOn_iPhone.png</string>
			<key>file-image</key>
			<string>PurpleHat_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_hat.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Hat</string>
			<key>text_esp</key>
			<string>Gorra</string>
		</dict>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>YellowHatOn_iPhone.png</string>
			<key>file-image</key>
			<string>YellowHat_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_hat.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Hat</string>
			<key>text_esp</key>
			<string>Gorra</string>
		</dict>
	</array>
	<key>jacket</key>
	<array>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>BlueJacketOn_iPhone.png</string>
			<key>file-image</key>
			<string>BlueJacket_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_jacket.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Jacket</string>
			<key>text_esp</key>
			<string>Chaqueta</string>
		</dict>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>RedJacketOn_iPhone.png</string>
			<key>file-image</key>
			<string>RedJacket_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_jacket.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Jacket</string>
			<key>text_esp</key>
			<string>Chaqueta</string>
		</dict>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>PurpleJacketOn_iPhone.png</string>
			<key>file-image</key>
			<string>PurpleJacket_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_jacket.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Jacket</string>
			<key>text_esp</key>
			<string>Chaqueta</string>
		</dict>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>YellowJacketOn_iPhone.png</string>
			<key>file-image</key>
			<string>YellowJacket_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_jacket.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Jacket</string>
			<key>text_esp</key>
			<string>Chaqueta</string>
		</dict>
	</array>
	<key>necklace</key>
	<array>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>BlueNecklaceOn_iPhone.png</string>
			<key>file-image</key>
			<string>BlueNecklace_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_necklace.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Necklace</string>
			<key>text_esp</key>
			<string>Collar</string>
		</dict>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>RedNecklaceOn_iPhone.png</string>
			<key>file-image</key>
			<string>RedNecklace_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_necklace.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Necklace</string>
			<key>text_esp</key>
			<string>Collar</string>
		</dict>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>PurpleNecklaceOn_iPhone.png</string>
			<key>file-image</key>
			<string>PurpleNecklace_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_necklace.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Necklace</string>
			<key>text_esp</key>
			<string>Collar</string>
		</dict>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>YellowNecklaceOn_iPhone.png</string>
			<key>file-image</key>
			<string>YellowNecklace_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_necklace.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Necklace</string>
			<key>text_esp</key>
			<string>Collar</string>
		</dict>
	</array>
	<key>pants</key>
	<array>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>BluePantsOn_iPhone.png</string>
			<key>file-image</key>
			<string>BluePants_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_pants.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Pants</string>
			<key>text_esp</key>
			<string>Pantalones</string>
		</dict>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>RedPantsOn_iPhone.png</string>
			<key>file-image</key>
			<string>RedPants_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_pants.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Pants</string>
			<key>text_esp</key>
			<string>Pantalones</string>
		</dict>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>PurplePantsOn_iPhone.png</string>
			<key>file-image</key>
			<string>PurplePants_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_pants.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Pants</string>
			<key>text_esp</key>
			<string>Pantalones</string>
		</dict>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>YellowPantsOn_iPhone.png</string>
			<key>file-image</key>
			<string>YellowPants_iPhone.png</string>
			<key>file-soundOk</key>
			<string>dress_snd_pants_yellow.mp3</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Pants</string>
			<key>text_esp</key>
			<string>Pantalones</string>
		</dict>
	</array>
	<key>phone</key>
	<array>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>BluePhoneRightHandOn_iPhone.png</string>
			<key>file-image</key>
			<string>BluePhone_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_phone.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Telephone</string>
			<key>text_esp</key>
			<string>Telefono</string>
		</dict>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>RedPhoneOn_iPhone.png</string>
			<key>file-image</key>
			<string>RedPhone_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_phone.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Telephone</string>
			<key>text_esp</key>
			<string>Telefono</string>
		</dict>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>PurplePhoneOn_iPhone.png</string>
			<key>file-image</key>
			<string>PurplePhone_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_phone.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Telephone</string>
			<key>text_esp</key>
			<string>Telefono</string>
		</dict>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>YellowPhoneOn_iPhone.png</string>
			<key>file-image</key>
			<string>YellowPhone_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_phone.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Telephone</string>
			<key>text_esp</key>
			<string>Telefono</string>
		</dict>
	</array>
	<key>sunglasses</key>
	<array>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>BlueGlassesOn_iPhone.png</string>
			<key>file-image</key>
			<string>BlueGlasses_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_sunglasses.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Glasses</string>
			<key>text_esp</key>
			<string>Gafas</string>
		</dict>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>RedGlassesOn_iPhone.png</string>
			<key>file-image</key>
			<string>RedGlasses_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_sunglasses.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Glasses</string>
			<key>text_esp</key>
			<string>Gafas</string>
		</dict>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>PurpleGlassesOn_iPhone.png</string>
			<key>file-image</key>
			<string>PurpleGlasses_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_sunglasses.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Glasses</string>
			<key>text_esp</key>
			<string>Gafas</string>
		</dict>
		<dict>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>240</integer>
				<key>y</key>
				<integer>160</integer>
			</dict>
			<key>file-dressed</key>
			<string>YellowGlassesOn_iPhone.png</string>
			<key>file-image</key>
			<string>YellowGlasses_iPhone.png</string>
			<key>file-soundOk</key>
			<string>wheel_snd_sunglasses.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
			<key>text_eng</key>
			<string>Glasses</string>
			<key>text_esp</key>
			<string>Gafas</string>
		</dict>
	</array>
</dict>
</plist>
