<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>BlueBackpackOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{184, 119}, {74, 96}}</string>
			<key>spriteOffset</key>
			<string>{-19, -7}</string>
			<key>spriteSize</key>
			<string>{74, 96}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{157, 329}, {74, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueBackpackStrapOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{189, 138}, {16, 48}}</string>
			<key>spriteOffset</key>
			<string>{-43, -2}</string>
			<key>spriteSize</key>
			<string>{16, 48}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{86, 977}, {16, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueBackpack_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {95, 106}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{95, 106}</string>
			<key>spriteSourceSize</key>
			<string>{97, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{259, 2}, {95, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueBootsOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{191, 230}, {102, 46}}</string>
			<key>spriteOffset</key>
			<string>{2, -93}</string>
			<key>spriteSize</key>
			<string>{102, 46}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{86, 1027}, {102, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueBoots_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {128, 93}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{128, 93}</string>
			<key>spriteSourceSize</key>
			<string>{134, 97}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{356, 2}, {128, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueGlassesOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{203, 90}, {74, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, 55}</string>
			<key>spriteSize</key>
			<string>{74, 30}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{184, 641}, {74, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueGlasses_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {123, 51}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{123, 51}</string>
			<key>spriteSourceSize</key>
			<string>{127, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{247, 405}, {123, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueHatOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{172, 46}, {106, 48}}</string>
			<key>spriteOffset</key>
			<string>{-15, 90}</string>
			<key>spriteSize</key>
			<string>{106, 48}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{685, 2}, {106, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueHat_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {122, 70}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{122, 70}</string>
			<key>spriteSourceSize</key>
			<string>{126, 74}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{366, 458}, {122, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueJacketOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{179, 133}, {126, 72}}</string>
			<key>spriteOffset</key>
			<string>{2, -9}</string>
			<key>spriteSize</key>
			<string>{126, 72}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 541}, {126, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueJacket_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {129, 130}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{129, 130}</string>
			<key>spriteSourceSize</key>
			<string>{133, 134}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 218}, {129, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueNecklaceOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{202, 139}, {76, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{76, 46}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{104, 977}, {76, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueNecklace_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {76, 109}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{76, 109}</string>
			<key>spriteSourceSize</key>
			<string>{78, 111}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{79, 350}, {76, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BluePantsOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{203, 185}, {78, 74}}</string>
			<key>spriteOffset</key>
			<string>{2, -62}</string>
			<key>spriteSize</key>
			<string>{78, 74}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{373, 207}, {78, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BluePants_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {97, 105}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{97, 105}</string>
			<key>spriteSourceSize</key>
			<string>{101, 107}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 111}, {97, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BluePhoneRightHandOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{145, 118}, {32, 46}}</string>
			<key>spriteOffset</key>
			<string>{-79, 19}</string>
			<key>spriteSize</key>
			<string>{32, 46}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 865}, {32, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BluePhone_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {68, 78}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 78}</string>
			<key>spriteSourceSize</key>
			<string>{70, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{334, 315}, {68, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurpleBackpackBehindDominoOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{188, 138}, {82, 86}}</string>
			<key>spriteOffset</key>
			<string>{-11, -21}</string>
			<key>spriteSize</key>
			<string>{82, 86}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 981}, {82, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurpleBackpackOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 135}, {90, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -9}</string>
			<key>spriteSize</key>
			<string>{90, 68}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{291, 673}, {90, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurpleBackpack_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {105, 97}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{105, 97}</string>
			<key>spriteSourceSize</key>
			<string>{107, 101}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{77, 575}, {105, 97}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurpleBootsOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{189, 220}, {106, 50}}</string>
			<key>spriteOffset</key>
			<string>{2, -85}</string>
			<key>spriteSize</key>
			<string>{106, 50}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{342, 615}, {106, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurpleBoots_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {121, 74}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{121, 74}</string>
			<key>spriteSourceSize</key>
			<string>{123, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{371, 97}, {121, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurpleGlassesOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{199, 87}, {84, 32}}</string>
			<key>spriteOffset</key>
			<string>{1, 57}</string>
			<key>spriteSize</key>
			<string>{84, 32}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{371, 173}, {84, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurpleGlasses_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {126, 49}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{126, 49}</string>
			<key>spriteSourceSize</key>
			<string>{130, 53}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{600, 142}, {126, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurpleHatOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{183, 66}, {88, 32}}</string>
			<key>spriteOffset</key>
			<string>{-13, 78}</string>
			<key>spriteSize</key>
			<string>{88, 32}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{157, 427}, {88, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurpleHat_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {119, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{119, 74}</string>
			<key>spriteSourceSize</key>
			<string>{123, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{486, 2}, {119, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurpleJacketOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{176, 129}, {128, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -11}</string>
			<key>spriteSize</key>
			<string>{128, 84}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{86, 891}, {128, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurpleJacket_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {139, 95}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{139, 95}</string>
			<key>spriteSourceSize</key>
			<string>{141, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{208, 218}, {139, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurpleNecklaceOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{202, 139}, {76, 50}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{76, 50}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{559, 196}, {76, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurpleNecklace_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {75, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 112}</string>
			<key>spriteSourceSize</key>
			<string>{77, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 350}, {75, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurplePantsOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{206, 191}, {76, 62}}</string>
			<key>spriteOffset</key>
			<string>{4, -62}</string>
			<key>spriteSize</key>
			<string>{76, 62}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{607, 2}, {76, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurplePants_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {99, 88}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{99, 88}</string>
			<key>spriteSourceSize</key>
			<string>{101, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{233, 315}, {99, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurplePhoneOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{305, 112}, {24, 44}}</string>
			<key>spriteOffset</key>
			<string>{77, 26}</string>
			<key>spriteSize</key>
			<string>{24, 44}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 865}, {24, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurplePhone_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {51, 84}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{51, 84}</string>
			<key>spriteSourceSize</key>
			<string>{55, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{147, 784}, {51, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedBackpackBehindDominoOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{189, 135}, {78, 80}}</string>
			<key>spriteOffset</key>
			<string>{-12, -15}</string>
			<key>spriteSize</key>
			<string>{78, 80}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{184, 559}, {78, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedBackpackOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{185, 134}, {22, 76}}</string>
			<key>spriteOffset</key>
			<string>{-44, -12}</string>
			<key>spriteSize</key>
			<string>{22, 76}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{349, 207}, {22, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedBackpack_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {104, 95}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{104, 95}</string>
			<key>spriteSourceSize</key>
			<string>{106, 97}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{265, 110}, {104, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedBootsOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{191, 214}, {102, 58}}</string>
			<key>spriteOffset</key>
			<string>{2, -83}</string>
			<key>spriteSize</key>
			<string>{102, 58}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 395}, {102, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedBoots_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {121, 81}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{121, 81}</string>
			<key>spriteSourceSize</key>
			<string>{123, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 674}, {121, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedGlassesOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{201, 91}, {76, 24}}</string>
			<key>spriteOffset</key>
			<string>{-1, 57}</string>
			<key>spriteSize</key>
			<string>{76, 24}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 757}, {76, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedGlasses_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {121, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{121, 48}</string>
			<key>spriteSourceSize</key>
			<string>{123, 50}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{667, 66}, {121, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedHatOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{195, 43}, {86, 62}}</string>
			<key>spriteOffset</key>
			<string>{-2, 86}</string>
			<key>spriteSize</key>
			<string>{86, 62}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{579, 78}, {86, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedHat_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {87, 68}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{87, 68}</string>
			<key>spriteSourceSize</key>
			<string>{91, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 530}, {87, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedJacketOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{177, 129}, {130, 84}}</string>
			<key>spriteOffset</key>
			<string>{2, -11}</string>
			<key>spriteSize</key>
			<string>{130, 84}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1157}, {130, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedJacket_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {143, 102}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{143, 102}</string>
			<key>spriteSourceSize</key>
			<string>{145, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 787}, {143, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedNecklaceOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{202, 139}, {76, 46}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{76, 46}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{86, 1075}, {76, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedNecklace_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {73, 109}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{73, 109}</string>
			<key>spriteSourceSize</key>
			<string>{77, 111}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{133, 218}, {73, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedPantsOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{202, 177}, {82, 86}}</string>
			<key>spriteOffset</key>
			<string>{3, -60}</string>
			<key>spriteSize</key>
			<string>{82, 86}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1069}, {82, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedPants_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {89, 109}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{89, 109}</string>
			<key>spriteSourceSize</key>
			<string>{93, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 464}, {89, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedPhoneOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{142, 105}, {36, 66}}</string>
			<key>spriteOffset</key>
			<string>{-80, 22}</string>
			<key>spriteSize</key>
			<string>{36, 66}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{482, 275}, {36, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedPhone_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {62, 104}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{62, 104}</string>
			<key>spriteSourceSize</key>
			<string>{66, 108}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 681}, {62, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowBackpackBehindDominoOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{180, 133}, {82, 88}}</string>
			<key>spriteOffset</key>
			<string>{-19, -17}</string>
			<key>spriteSize</key>
			<string>{82, 88}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 891}, {82, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowBackpackOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{184, 134}, {24, 58}}</string>
			<key>spriteOffset</key>
			<string>{-44, -3}</string>
			<key>spriteSize</key>
			<string>{24, 58}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{476, 395}, {24, 58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowBackpack_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {100, 101}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{100, 101}</string>
			<key>spriteSourceSize</key>
			<string>{104, 105}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{66, 681}, {100, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowBootsOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{190, 221}, {104, 50}}</string>
			<key>spriteOffset</key>
			<string>{2, -86}</string>
			<key>spriteSize</key>
			<string>{104, 50}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{494, 144}, {104, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowBoots_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {122, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{122, 80}</string>
			<key>spriteSourceSize</key>
			<string>{124, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 783}, {122, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowGlassesOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{201, 92}, {76, 22}}</string>
			<key>spriteOffset</key>
			<string>{-1, 57}</string>
			<key>spriteSize</key>
			<string>{76, 22}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 757}, {76, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowGlasses_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {123, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{123, 40}</string>
			<key>spriteSourceSize</key>
			<string>{125, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{404, 353}, {123, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowHatOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{201, 50}, {76, 46}}</string>
			<key>spriteOffset</key>
			<string>{-1, 87}</string>
			<key>spriteSize</key>
			<string>{76, 46}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{182, 977}, {76, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowHat_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {104, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{104, 66}</string>
			<key>spriteSourceSize</key>
			<string>{106, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{453, 207}, {104, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowJacketOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{177, 134}, {130, 78}}</string>
			<key>spriteOffset</key>
			<string>{2, -13}</string>
			<key>spriteSize</key>
			<string>{130, 78}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{234, 461}, {130, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowJacket_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {139, 96}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{139, 96}</string>
			<key>spriteSourceSize</key>
			<string>{143, 98}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{93, 461}, {139, 96}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowNecklaceOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{202, 139}, {76, 40}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{76, 40}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 911}, {76, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowNecklace_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {73, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{73, 104}</string>
			<key>spriteSourceSize</key>
			<string>{75, 106}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 575}, {73, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowPantsOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{207, 191}, {76, 68}}</string>
			<key>spriteOffset</key>
			<string>{5, -65}</string>
			<key>spriteSize</key>
			<string>{76, 68}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{404, 283}, {76, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowPants_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {91, 107}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{91, 107}</string>
			<key>spriteSourceSize</key>
			<string>{93, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 2}, {91, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowPhoneOn_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{146, 122}, {40, 44}}</string>
			<key>spriteOffset</key>
			<string>{-74, 16}</string>
			<key>spriteSize</key>
			<string>{40, 44}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{216, 913}, {40, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowPhone_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {83, 64}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{83, 64}</string>
			<key>spriteSourceSize</key>
			<string>{85, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{494, 78}, {83, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dress_boxers_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{206, 185}, {76, 56}}</string>
			<key>spriteOffset</key>
			<string>{4, -53}</string>
			<key>spriteSize</key>
			<string>{76, 56}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{264, 615}, {76, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dress_dino_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{156, 51}, {168, 220}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{168, 220}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {168, 220}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dress_shirt_iPhone.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{190, 140}, {100, 64}}</string>
			<key>spriteOffset</key>
			<string>{0, -12}</string>
			<key>spriteSize</key>
			<string>{100, 64}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{520, 275}, {100, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
	</dict>
</dict>
</plist>