<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>duration</key>
		<real>8.5</real>
		<key>lyric</key>
		<string></string>
	</dict>
	<dict>
		<key>duration</key>
		<real>5.5</real>
		<key>lyric</key>
		<string>Quiero mis botas ¿Dónde están?</string>
	</dict>
	<dict>
		<key>duration</key>
		<real>2.5</real>
		<key>lyric</key>
		<string>¿Debajo de la mesa? No están ahí</string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>3</integer>
		<key>lyric</key>
		<string>¿Encima de la silla? No están ahí</string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>3</integer>
		<key>lyric</key>
		<string>¿Adentro de la bolsa? No están ahí</string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>1</integer>
		<key>lyric</key>
		<string>¿Dónde están mis botas?</string>
	</dict>
	<dict>
		<key>duration</key>
		<real>0.2</real>
		<key>lyric</key>
		<string></string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>1</integer>
		<key>lyric</key>
		<string>¿Dónde están mis botas?</string>
	</dict>
	<dict>
		<key>duration</key>
		<real>0.2</real>
		<key>lyric</key>
		<string></string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>1</integer>
		<key>lyric</key>
		<string>¿Dónde están mis botas?</string>
	</dict>
	<dict>
		<key>duration</key>
		<real>0.2</real>
		<key>lyric</key>
		<string></string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>3</integer>
		<key>lyric</key>
		<string>En tus pies, están ahí</string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>5</integer>
		<key>lyric</key>
		<string></string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>6</integer>
		<key>lyric</key>
		<string>Quiero mi chaqueta ¿Dónde está?</string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>2</integer>
		<key>lyric</key>
		<string>¿Debajo de la mesa? No está ahí</string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>3</integer>
		<key>lyric</key>
		<string>¿Encima de la silla? No está ahí</string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>3</integer>
		<key>lyric</key>
		<string>¿Adentro de la bolsa? No está ahí</string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>1</integer>
		<key>lyric</key>
		<string>¿Dónde está mi chaqueta?</string>
	</dict>
	<dict>
		<key>duration</key>
		<real>0.2</real>
		<key>lyric</key>
		<string></string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>1</integer>
		<key>lyric</key>
		<string>¿Dónde está mi chaqueta?</string>
	</dict>
	<dict>
		<key>duration</key>
		<real>0.2</real>
		<key>lyric</key>
		<string></string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>1</integer>
		<key>lyric</key>
		<string>¿Dónde está mi chaqueta?</string>
	</dict>
	<dict>
		<key>duration</key>
		<real>0.2</real>
		<key>lyric</key>
		<string></string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>2</integer>
		<key>lyric</key>
		<string>En tu espalda está ahí</string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>5</integer>
		<key>lyric</key>
		<string></string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>6</integer>
		<key>lyric</key>
		<string>Quiero mi gorra ¿Dónde está?</string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>2</integer>
		<key>lyric</key>
		<string>¿Debajo de la mesa? No está ahí</string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>3</integer>
		<key>lyric</key>
		<string>¿Encima de la silla? No está ahí</string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>3</integer>
		<key>lyric</key>
		<string>¿Adentro de la bolsa? No está ahí</string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>1</integer>
		<key>lyric</key>
		<string>¿Dónde está mi gorra?</string>
	</dict>
	<dict>
		<key>duration</key>
		<real>0.2</real>
		<key>lyric</key>
		<string></string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>1</integer>
		<key>lyric</key>
		<string>¿Dónde está mi gorra?</string>
	</dict>
	<dict>
		<key>duration</key>
		<real>0.2</real>
		<key>lyric</key>
		<string></string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>1</integer>
		<key>lyric</key>
		<string>¿Dónde está mi gorra?</string>
	</dict>
	<dict>
		<key>duration</key>
		<real>0.2</real>
		<key>lyric</key>
		<string></string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>2</integer>
		<key>lyric</key>
		<string>En tu cabeza, está ahí</string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>11</integer>
		<key>lyric</key>
		<string></string>
	</dict>
	<dict>
		<key>duration</key>
		<real>4.2</real>
		<key>lyric</key>
		<string>Quiero mi mochila ¿Dónde está?</string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>2</integer>
		<key>lyric</key>
		<string>Quiero mi mochila ¿Dónde está?</string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>3</integer>
		<key>lyric</key>
		<string>¿Debajo de la mesa? No está ahí</string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>3</integer>
		<key>lyric</key>
		<string>¿Encima de la silla? No está ahí</string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>3</integer>
		<key>lyric</key>
		<string>¿Adentro de la bolsa? No está ahí</string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>1</integer>
		<key>lyric</key>
		<string>¿Dónde está mi mochila?</string>
	</dict>
	<dict>
		<key>duration</key>
		<real>0.2</real>
		<key>lyric</key>
		<string></string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>1</integer>
		<key>lyric</key>
		<string>¿Dónde está mi mochila?</string>
	</dict>
	<dict>
		<key>duration</key>
		<real>0.2</real>
		<key>lyric</key>
		<string></string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>1</integer>
		<key>lyric</key>
		<string>¿Dónde está mi mochila?</string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>2</integer>
		<key>lyric</key>
		<string>En tus hombros, está ahí</string>
	</dict>
	<dict>
		<key>duration</key>
		<integer>0</integer>
		<key>lyric</key>
		<string></string>
	</dict>
</array>
</plist>
