<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>BlueBackpackStrapOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{394, 338}, {36, 108}}</string>
			<key>spriteOffset</key>
			<string>{-100, -8}</string>
			<key>spriteSize</key>
			<string>{36, 108}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1951, 1497}, {36, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueBackpack_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {186, 216}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{186, 216}</string>
			<key>spriteSourceSize</key>
			<string>{186, 216}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{600, 1080}, {216, 186}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>BlueBootsOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{400, 549}, {228, 102}}</string>
			<key>spriteOffset</key>
			<string>{2, -216}</string>
			<key>spriteSize</key>
			<string>{228, 102}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1919, 645}, {102, 228}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>BlueBoots_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {235, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{235, 152}</string>
			<key>spriteSourceSize</key>
			<string>{235, 152}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{982, 645}, {235, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueGlassesOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{426, 228}, {166, 66}}</string>
			<key>spriteOffset</key>
			<string>{-3, 123}</string>
			<key>spriteSize</key>
			<string>{166, 66}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1568, 1276}, {166, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueGlasses_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {253, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{253, 89}</string>
			<key>spriteSourceSize</key>
			<string>{253, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1115, 374}, {253, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueHatOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{357, 126}, {238, 108}}</string>
			<key>spriteOffset</key>
			<string>{-36, 204}</string>
			<key>spriteSize</key>
			<string>{238, 108}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{742, 645}, {238, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueHat_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {219, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{219, 99}</string>
			<key>spriteSourceSize</key>
			<string>{219, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 875}, {219, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueJacketOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{372, 325}, {288, 164}}</string>
			<key>spriteOffset</key>
			<string>{4, -23}</string>
			<key>spriteSize</key>
			<string>{288, 164}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 374}, {288, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueJacket_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {269, 270}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{269, 270}</string>
			<key>spriteSourceSize</key>
			<string>{269, 272}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{581, 374}, {270, 269}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>BlueNecklaceOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{425, 339}, {172, 104}}</string>
			<key>spriteOffset</key>
			<string>{-1, -7}</string>
			<key>spriteSize</key>
			<string>{172, 104}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1046, 1276}, {172, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueNecklace_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {144, 219}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{144, 219}</string>
			<key>spriteSourceSize</key>
			<string>{144, 219}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1897, 1276}, {144, 219}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BluePantsOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{426, 445}, {178, 168}}</string>
			<key>spriteOffset</key>
			<string>{3, -145}</string>
			<key>spriteSize</key>
			<string>{178, 168}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1012, 1080}, {178, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BluePants_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {194, 210}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{194, 210}</string>
			<key>spriteSourceSize</key>
			<string>{194, 210}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1080}, {210, 194}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>BluePhoneRightHandOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{294, 292}, {72, 104}}</string>
			<key>spriteOffset</key>
			<string>{-182, 40}</string>
			<key>spriteSize</key>
			<string>{72, 104}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1437, 1497}, {104, 72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>BluePhone_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {125, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{125, 149}</string>
			<key>spriteSourceSize</key>
			<string>{125, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{658, 1497}, {149, 125}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>PurpleBackpackOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{408, 329}, {204, 156}}</string>
			<key>spriteOffset</key>
			<string>{-2, -23}</string>
			<key>spriteSize</key>
			<string>{204, 156}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1068, 875}, {204, 156}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurpleBackpack_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {210, 195}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{210, 195}</string>
			<key>spriteSourceSize</key>
			<string>{210, 195}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{437, 875}, {210, 195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurpleBootsOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{395, 524}, {242, 114}}</string>
			<key>spriteOffset</key>
			<string>{4, -197}</string>
			<key>spriteSize</key>
			<string>{242, 114}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{498, 645}, {242, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurpleBoots_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {248, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{248, 142}</string>
			<key>spriteSourceSize</key>
			<string>{248, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1873, 374}, {142, 248}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>PurpleGlassesOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{418, 220}, {188, 74}}</string>
			<key>spriteOffset</key>
			<string>{0, 127}</string>
			<key>spriteSize</key>
			<string>{188, 74}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{410, 1080}, {188, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurpleGlasses_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {260, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{260, 85}</string>
			<key>spriteSourceSize</key>
			<string>{260, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{853, 374}, {260, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurpleHatOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{382, 172}, {198, 72}}</string>
			<key>spriteOffset</key>
			<string>{-31, 176}</string>
			<key>spriteSize</key>
			<string>{198, 72}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1479, 875}, {198, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurpleHat_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {212, 109}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{212, 109}</string>
			<key>spriteSourceSize</key>
			<string>{212, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{223, 875}, {212, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurpleJacketOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{366, 317}, {292, 190}}</string>
			<key>spriteOffset</key>
			<string>{0, -28}</string>
			<key>spriteSize</key>
			<string>{292, 190}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1382, 2}, {292, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurpleJacket_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {287, 191}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{287, 191}</string>
			<key>spriteSourceSize</key>
			<string>{287, 191}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{292, 374}, {287, 191}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurpleNecklaceOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{425, 339}, {172, 112}}</string>
			<key>spriteOffset</key>
			<string>{-1, -11}</string>
			<key>spriteSize</key>
			<string>{172, 112}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{350, 1276}, {172, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurpleNecklace_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {140, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{140, 226}</string>
			<key>spriteSourceSize</key>
			<string>{140, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 1497}, {226, 140}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>PurplePantsOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{433, 458}, {172, 142}}</string>
			<key>spriteOffset</key>
			<string>{7, -145}</string>
			<key>spriteSize</key>
			<string>{172, 142}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{698, 1276}, {172, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurplePants_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {194, 175}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{194, 175}</string>
			<key>spriteSourceSize</key>
			<string>{194, 175}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 1080}, {194, 175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurplePhoneOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{659, 278}, {54, 96}}</string>
			<key>spriteOffset</key>
			<string>{174, 58}</string>
			<key>spriteSize</key>
			<string>{54, 96}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1543, 1497}, {96, 54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>PurplePhone_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{90, 162}</string>
			<key>spriteSourceSize</key>
			<string>{90, 162}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1121, 1497}, {162, 90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>RedBackpackOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{386, 329}, {46, 174}}</string>
			<key>spriteOffset</key>
			<string>{-103, -32}</string>
			<key>spriteSize</key>
			<string>{46, 174}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1775, 1497}, {174, 46}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>RedBackpack_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {207, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{207, 188}</string>
			<key>spriteSourceSize</key>
			<string>{207, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{859, 875}, {207, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedBootsOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{399, 512}, {234, 130}}</string>
			<key>spriteOffset</key>
			<string>{4, -193}</string>
			<key>spriteSize</key>
			<string>{234, 130}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1219, 645}, {234, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedBoots_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {246, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{246, 158}</string>
			<key>spriteSourceSize</key>
			<string>{246, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 645}, {246, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedGlassesOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{422, 229}, {174, 52}}</string>
			<key>spriteOffset</key>
			<string>{-3, 129}</string>
			<key>spriteSize</key>
			<string>{174, 52}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1631, 1080}, {174, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedGlasses_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {246, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{246, 80}</string>
			<key>spriteSourceSize</key>
			<string>{246, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{250, 645}, {246, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedHatOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{409, 120}, {196, 142}}</string>
			<key>spriteOffset</key>
			<string>{-5, 193}</string>
			<key>spriteSize</key>
			<string>{196, 142}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1679, 875}, {196, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedHat_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {172, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{172, 125}</string>
			<key>spriteSourceSize</key>
			<string>{172, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{872, 1276}, {172, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedJacketOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{366, 318}, {294, 190}}</string>
			<key>spriteOffset</key>
			<string>{1, -29}</string>
			<key>spriteSize</key>
			<string>{294, 190}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1086, 2}, {294, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedJacket_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {296, 202}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{296, 202}</string>
			<key>spriteSourceSize</key>
			<string>{296, 202}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{492, 2}, {296, 202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedNecklaceOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{425, 339}, {172, 102}}</string>
			<key>spriteOffset</key>
			<string>{-1, -6}</string>
			<key>spriteSize</key>
			<string>{172, 102}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 1276}, {172, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedNecklace_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {140, 218}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{140, 218}</string>
			<key>spriteSourceSize</key>
			<string>{140, 218}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1497}, {218, 140}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>RedPantsOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{424, 427}, {186, 192}}</string>
			<key>spriteOffset</key>
			<string>{5, -139}</string>
			<key>spriteSize</key>
			<string>{186, 192}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{818, 1080}, {192, 186}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>RedPants_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {177, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{177, 222}</string>
			<key>spriteSourceSize</key>
			<string>{177, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1407, 1080}, {222, 177}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>RedPhoneOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{287, 262}, {78, 150}}</string>
			<key>spriteOffset</key>
			<string>{-186, 47}</string>
			<key>spriteSize</key>
			<string>{78, 150}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1285, 1497}, {150, 78}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>RedPhone_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {116, 210}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{116, 210}</string>
			<key>spriteSourceSize</key>
			<string>{116, 210}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{809, 1497}, {210, 116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>YellowBackpackOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{383, 328}, {54, 132}}</string>
			<key>spriteOffset</key>
			<string>{-102, -10}</string>
			<key>spriteSize</key>
			<string>{54, 132}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1641, 1497}, {132, 54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>YellowBackpack_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {203, 203}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{203, 203}</string>
			<key>spriteSourceSize</key>
			<string>{203, 203}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1274, 875}, {203, 203}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowBootsOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{398, 526}, {232, 116}}</string>
			<key>spriteOffset</key>
			<string>{2, -200}</string>
			<key>spriteSize</key>
			<string>{232, 116}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1455, 645}, {232, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowBoots_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {249, 155}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{249, 155}</string>
			<key>spriteSourceSize</key>
			<string>{249, 155}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1622, 374}, {249, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowGlassesOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{423, 231}, {172, 50}}</string>
			<key>spriteOffset</key>
			<string>{-3, 128}</string>
			<key>spriteSize</key>
			<string>{172, 50}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{524, 1276}, {172, 50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowGlasses_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 61}</string>
			<key>spriteSourceSize</key>
			<string>{250, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1370, 374}, {250, 61}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowHatOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{421, 135}, {172, 102}}</string>
			<key>spriteOffset</key>
			<string>{-5, 198}</string>
			<key>spriteSize</key>
			<string>{172, 102}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1276}, {172, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowHat_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {208, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{208, 120}</string>
			<key>spriteSourceSize</key>
			<string>{208, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{649, 875}, {208, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowJacketOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{367, 329}, {294, 174}}</string>
			<key>spriteOffset</key>
			<string>{2, -32}</string>
			<key>spriteSize</key>
			<string>{294, 174}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{790, 2}, {294, 174}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowJacket_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {290, 189}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{290, 189}</string>
			<key>spriteSourceSize</key>
			<string>{290, 189}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1676, 2}, {290, 189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowNecklaceOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{425, 339}, {172, 88}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{172, 88}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1394, 1276}, {172, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowNecklace_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {136, 206}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{136, 206}</string>
			<key>spriteSourceSize</key>
			<string>{136, 206}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{450, 1497}, {206, 136}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>YellowPantsOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{435, 459}, {172, 154}}</string>
			<key>spriteOffset</key>
			<string>{9, -152}</string>
			<key>spriteSize</key>
			<string>{172, 154}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1220, 1276}, {172, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowPants_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {177, 213}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{177, 213}</string>
			<key>spriteSourceSize</key>
			<string>{177, 213}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1192, 1080}, {213, 177}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>YellowPhoneOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{295, 301}, {92, 98}}</string>
			<key>spriteOffset</key>
			<string>{-171, 34}</string>
			<key>spriteSize</key>
			<string>{92, 98}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1021, 1497}, {98, 92}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>YellowPhone_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {159, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{159, 119}</string>
			<key>spriteSourceSize</key>
			<string>{159, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1736, 1276}, {159, 119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dress_boxers_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{433, 445}, {174, 126}}</string>
			<key>spriteOffset</key>
			<string>{8, -124}</string>
			<key>spriteSize</key>
			<string>{174, 126}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1807, 1080}, {174, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>dress_dino_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{323, 142}, {370, 488}}</string>
			<key>spriteOffset</key>
			<string>{-4, -2}</string>
			<key>spriteSize</key>
			<string>{370, 488}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {488, 370}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>dress_shirt_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{397, 341}, {228, 144}}</string>
			<key>spriteOffset</key>
			<string>{-1, -29}</string>
			<key>spriteSize</key>
			<string>{228, 144}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1689, 645}, {228, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
	</dict>
</dict>
</plist>