<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>BlueBackpackStrapOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{394, 338}, {36, 108}}</string>
			<key>spriteOffset</key>
			<string>{-100, -8}</string>
			<key>spriteSize</key>
			<string>{36, 108}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{108, 866}, {108, 36}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>BlueBackpack_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {186, 216}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{186, 216}</string>
			<key>spriteSourceSize</key>
			<string>{186, 216}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1246, 487}, {216, 186}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>BlueBootsOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{400, 549}, {228, 102}}</string>
			<key>spriteOffset</key>
			<string>{2, -216}</string>
			<key>spriteSize</key>
			<string>{228, 102}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1476, 273}, {228, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueBoots_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {235, 152}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{235, 152}</string>
			<key>spriteSourceSize</key>
			<string>{235, 152}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1239, 273}, {235, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueGlassesOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{426, 228}, {166, 66}}</string>
			<key>spriteOffset</key>
			<string>{-3, 123}</string>
			<key>spriteSize</key>
			<string>{166, 66}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{350, 702}, {166, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueGlasses_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {253, 89}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{253, 89}</string>
			<key>spriteSourceSize</key>
			<string>{253, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1705, 2}, {253, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueHatOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{357, 126}, {238, 108}}</string>
			<key>spriteOffset</key>
			<string>{-36, 204}</string>
			<key>spriteSize</key>
			<string>{238, 108}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{999, 273}, {238, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueHat_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {219, 99}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{219, 99}</string>
			<key>spriteSourceSize</key>
			<string>{219, 99}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1706, 273}, {219, 99}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueJacketOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{372, 325}, {288, 164}}</string>
			<key>spriteOffset</key>
			<string>{4, -23}</string>
			<key>spriteSize</key>
			<string>{288, 164}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{592, 2}, {288, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueJacket_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {269, 270}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{269, 270}</string>
			<key>spriteSourceSize</key>
			<string>{269, 272}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1171, 2}, {270, 269}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>BlueNecklaceOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{425, 339}, {172, 104}}</string>
			<key>spriteOffset</key>
			<string>{-1, -7}</string>
			<key>spriteSize</key>
			<string>{172, 104}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 702}, {172, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlueNecklace_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {144, 219}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{144, 219}</string>
			<key>spriteSourceSize</key>
			<string>{144, 219}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{679, 702}, {219, 144}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>BluePantsOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{426, 445}, {178, 168}}</string>
			<key>spriteOffset</key>
			<string>{3, -145}</string>
			<key>spriteSize</key>
			<string>{178, 168}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1464, 487}, {178, 168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BluePants_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {194, 210}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{194, 210}</string>
			<key>spriteSourceSize</key>
			<string>{194, 210}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1034, 487}, {210, 194}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>BluePhoneRightHandOn_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{294, 292}, {72, 104}}</string>
			<key>spriteOffset</key>
			<string>{-182, 40}</string>
			<key>spriteSize</key>
			<string>{72, 104}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 866}, {104, 72}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>BluePhone_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {125, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{125, 149}</string>
			<key>spriteSourceSize</key>
			<string>{125, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1556, 702}, {149, 125}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>PurpleBackpack_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {210, 195}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{210, 195}</string>
			<key>spriteSourceSize</key>
			<string>{210, 195}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 487}, {210, 195}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurpleBoots_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {248, 142}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{248, 142}</string>
			<key>spriteSourceSize</key>
			<string>{248, 142}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{253, 273}, {248, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurpleGlasses_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {260, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{260, 85}</string>
			<key>spriteSourceSize</key>
			<string>{260, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1443, 2}, {260, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurpleHat_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {212, 109}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{212, 109}</string>
			<key>spriteSourceSize</key>
			<string>{212, 109}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1927, 273}, {109, 212}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>PurpleJacket_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {287, 191}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{287, 191}</string>
			<key>spriteSourceSize</key>
			<string>{287, 191}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{882, 2}, {287, 191}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurpleNecklace_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {140, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{140, 226}</string>
			<key>spriteSourceSize</key>
			<string>{140, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1120, 702}, {226, 140}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>PurplePants_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {194, 175}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{194, 175}</string>
			<key>spriteSourceSize</key>
			<string>{194, 175}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{838, 487}, {194, 175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PurplePhone_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 162}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{90, 162}</string>
			<key>spriteSourceSize</key>
			<string>{90, 162}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1919, 702}, {90, 162}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedBackpack_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {207, 188}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{207, 188}</string>
			<key>spriteSourceSize</key>
			<string>{207, 188}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{424, 487}, {207, 188}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedBoots_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {246, 158}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{246, 158}</string>
			<key>spriteSourceSize</key>
			<string>{246, 158}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{503, 273}, {246, 158}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedGlasses_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {246, 80}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{246, 80}</string>
			<key>spriteSourceSize</key>
			<string>{246, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{751, 273}, {246, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedHat_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {172, 125}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{172, 125}</string>
			<key>spriteSourceSize</key>
			<string>{172, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{176, 702}, {172, 125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedJacket_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {296, 202}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{296, 202}</string>
			<key>spriteSourceSize</key>
			<string>{296, 202}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {296, 202}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>RedNecklace_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {140, 218}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{140, 218}</string>
			<key>spriteSourceSize</key>
			<string>{140, 218}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{900, 702}, {218, 140}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>RedPants_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {177, 222}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{177, 222}</string>
			<key>spriteSourceSize</key>
			<string>{177, 222}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1644, 487}, {222, 177}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>RedPhone_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {116, 210}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{116, 210}</string>
			<key>spriteSourceSize</key>
			<string>{116, 210}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1707, 702}, {210, 116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>YellowBackpack_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {203, 203}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{203, 203}</string>
			<key>spriteSourceSize</key>
			<string>{203, 203}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{633, 487}, {203, 203}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowBoots_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {249, 155}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{249, 155}</string>
			<key>spriteSourceSize</key>
			<string>{249, 155}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 273}, {249, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowGlasses_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {250, 61}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{250, 61}</string>
			<key>spriteSourceSize</key>
			<string>{250, 61}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1960, 2}, {61, 250}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>YellowHat_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {208, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{208, 120}</string>
			<key>spriteSourceSize</key>
			<string>{208, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{214, 487}, {208, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowJacket_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {290, 189}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{290, 189}</string>
			<key>spriteSourceSize</key>
			<string>{290, 189}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{300, 2}, {290, 189}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowNecklace_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {136, 206}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{136, 206}</string>
			<key>spriteSourceSize</key>
			<string>{136, 206}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1348, 702}, {206, 136}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		
		<key>YellowPants_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {177, 213}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{177, 213}</string>
			<key>spriteSourceSize</key>
			<string>{177, 213}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1868, 487}, {177, 213}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>YellowPhone_iPad.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {159, 119}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{159, 119}</string>
			<key>spriteSourceSize</key>
			<string>{159, 119}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{518, 702}, {159, 119}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
	</dict>
</dict>
</plist>