<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backpack</key>
	<array>
		<dict>
			<key>file-image</key>
			<string>BlueBackpack_iPad.png</string>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>405</integer>
				<key>y</key>
				<integer>132</integer>
			</dict>
			<key>file-soundOk</key>
			<string>wheel_snd_backpack.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
		</dict>
		<dict>
			<key>file-image</key>
			<string>RedBackpack_iPad.png</string>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>405</integer>
				<key>y</key>
				<integer>132</integer>
			</dict>
			<key>file-soundOk</key>
			<string>wheel_snd_backpack.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
		</dict>
		<dict>
			<key>file-image</key>
			<string>PurpleBackpack_iPad.png</string>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>405</integer>
				<key>y</key>
				<integer>132</integer>
			</dict>
			<key>file-soundOk</key>
			<string>wheel_snd_backpack.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
		</dict>
		<dict>
			<key>file-image</key>
			<string>YellowBackpack_iPad.png</string>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>405</integer>
				<key>y</key>
				<integer>132</integer>
			</dict>
			<key>file-soundOk</key>
			<string>wheel_snd_backpack.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
		</dict>
	</array>
	<key>hat</key>
	<array>
		<dict>
			<key>file-image</key>
			<string>BlueHat_iPad.png</string>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>405</integer>
				<key>y</key>
				<integer>132</integer>
			</dict>
			<key>file-soundOk</key>
			<string>wheel_snd_hat.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
		</dict>
		<dict>
			<key>file-image</key>
			<string>RedHat_iPad.png</string>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>405</integer>
				<key>y</key>
				<integer>132</integer>
			</dict>
			<key>file-soundOk</key>
			<string>wheel_snd_hat.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
		</dict>
		<dict>
			<key>file-image</key>
			<string>PurpleHat_iPad.png</string>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>405</integer>
				<key>y</key>
				<integer>132</integer>
			</dict>
			<key>file-soundOk</key>
			<string>wheel_snd_hat.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
		</dict>
		<dict>
			<key>file-image</key>
			<string>YellowHat_iPad.png</string>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>405</integer>
				<key>y</key>
				<integer>132</integer>
			</dict>
			<key>file-soundOk</key>
			<string>wheel_snd_hat.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
		</dict>
	</array>
	<key>boots</key>
	<array>
		<dict>
			<key>file-image</key>
			<string>BlueBoots_iPad.png</string>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>405</integer>
				<key>y</key>
				<integer>132</integer>
			</dict>
			<key>file-soundOk</key>
			<string>wheel_snd_boots.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
		</dict>
		<dict>
			<key>file-image</key>
			<string>RedBoots_iPad.png</string>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>405</integer>
				<key>y</key>
				<integer>132</integer>
			</dict>
			<key>file-soundOk</key>
			<string>wheel_snd_boots.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
		</dict>
		<dict>
			<key>file-image</key>
			<string>PurpleBoots_iPad.png</string>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>405</integer>
				<key>y</key>
				<integer>132</integer>
			</dict>
			<key>file-soundOk</key>
			<string>wheel_snd_boots.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
		</dict>
		<dict>
			<key>file-image</key>
			<string>YellowBoots_iPad.png</string>
			<key>coord-drop</key>
			<dict>
				<key>x</key>
				<integer>405</integer>
				<key>y</key>
				<integer>132</integer>
			</dict>
			<key>file-soundOk</key>
			<string>wheel_snd_boots.m4a</string>
			<key>file-soundWrong</key>
			<string>star_wrong.aif</string>
		</dict>
	</array>
</dict>
</plist>
