<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Game2_RumiEverythingAnim_00000.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{323, 144}, {370, 486}}</string>
			<key>spriteOffset</key>
			<string>{-4, -3}</string>
			<key>spriteSize</key>
			<string>{370, 486}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1142, 490}, {370, 486}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Game2_RumiEverythingAnim_00001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{323, 144}, {370, 486}}</string>
			<key>spriteOffset</key>
			<string>{-4, -3}</string>
			<key>spriteSize</key>
			<string>{370, 486}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1514, 490}, {370, 486}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Game2_RumiEverythingAnim_00002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{323, 144}, {370, 486}}</string>
			<key>spriteOffset</key>
			<string>{-4, -3}</string>
			<key>spriteSize</key>
			<string>{370, 486}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 978}, {370, 486}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Game2_RumiEverythingAnim_00003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{323, 144}, {370, 486}}</string>
			<key>spriteOffset</key>
			<string>{-4, -3}</string>
			<key>spriteSize</key>
			<string>{370, 486}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{374, 978}, {370, 486}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Game2_RumiEverythingAnim_00004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{323, 144}, {370, 486}}</string>
			<key>spriteOffset</key>
			<string>{-4, -3}</string>
			<key>spriteSize</key>
			<string>{370, 486}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{746, 978}, {370, 486}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Game2_RumiEverythingAnim_00005.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{323, 144}, {378, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{378, 486}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1570, 2}, {378, 486}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Game2_RumiEverythingAnim_00006.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{323, 144}, {390, 486}}</string>
			<key>spriteOffset</key>
			<string>{6, -3}</string>
			<key>spriteSize</key>
			<string>{390, 486}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {390, 486}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Game2_RumiEverythingAnim_00007.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{323, 144}, {390, 486}}</string>
			<key>spriteOffset</key>
			<string>{6, -3}</string>
			<key>spriteSize</key>
			<string>{390, 486}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{394, 2}, {390, 486}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Game2_RumiEverythingAnim_00008.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{323, 144}, {378, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{378, 486}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 490}, {378, 486}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Game2_RumiEverythingAnim_00009.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{323, 144}, {370, 486}}</string>
			<key>spriteOffset</key>
			<string>{-4, -3}</string>
			<key>spriteSize</key>
			<string>{370, 486}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1118, 978}, {370, 486}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Game2_RumiEverythingAnim_00010.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{323, 144}, {370, 486}}</string>
			<key>spriteOffset</key>
			<string>{-4, -3}</string>
			<key>spriteSize</key>
			<string>{370, 486}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1490, 978}, {370, 486}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Game2_RumiEverythingAnim_00011.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{323, 144}, {370, 486}}</string>
			<key>spriteOffset</key>
			<string>{-4, -3}</string>
			<key>spriteSize</key>
			<string>{370, 486}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 1466}, {370, 486}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Game2_RumiEverythingAnim_00012.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{323, 144}, {378, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{378, 486}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{382, 490}, {378, 486}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Game2_RumiEverythingAnim_00013.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{323, 144}, {390, 486}}</string>
			<key>spriteOffset</key>
			<string>{6, -3}</string>
			<key>spriteSize</key>
			<string>{390, 486}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{786, 2}, {390, 486}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Game2_RumiEverythingAnim_00014.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{323, 144}, {390, 486}}</string>
			<key>spriteOffset</key>
			<string>{6, -3}</string>
			<key>spriteSize</key>
			<string>{390, 486}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1178, 2}, {390, 486}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Game2_RumiEverythingAnim_00015.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{323, 144}, {378, 486}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{378, 486}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{762, 490}, {378, 486}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Game2_RumiEverythingAnim_00016.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{323, 144}, {370, 486}}</string>
			<key>spriteOffset</key>
			<string>{-4, -3}</string>
			<key>spriteSize</key>
			<string>{370, 486}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{374, 1466}, {370, 486}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Game2_RumiEverythingAnim_00017.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{323, 144}, {370, 486}}</string>
			<key>spriteOffset</key>
			<string>{-4, -3}</string>
			<key>spriteSize</key>
			<string>{370, 486}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{746, 1466}, {370, 486}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Game2_RumiEverythingAnim_00018.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{323, 144}, {370, 486}}</string>
			<key>spriteOffset</key>
			<string>{-4, -3}</string>
			<key>spriteSize</key>
			<string>{370, 486}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1118, 1466}, {370, 486}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Game2_RumiEverythingAnim_00019.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{323, 144}, {370, 486}}</string>
			<key>spriteOffset</key>
			<string>{-4, -3}</string>
			<key>spriteSize</key>
			<string>{370, 486}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1490, 1466}, {370, 486}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Game2_RumiEverythingAnim_00020.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{323, 144}, {370, 486}}</string>
			<key>spriteOffset</key>
			<string>{-4, -3}</string>
			<key>spriteSize</key>
			<string>{370, 486}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {370, 486}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
	</dict>
</dict>
</plist>