<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>elemName</key>
		<string>boots</string>
		<key>coord-initial</key>
		<dict>
			<key>x</key>
			<integer>500</integer>
			<key>y</key>
			<integer>440</integer>
		</dict>
		<key>file-image</key>
		<string>song_boots_iPad.png</string>
		<key>file-imagePlaced</key>
		<string>song_boots_placed_iPad.png</string>
	</dict>
	<dict>
		<key>elemName</key>
		<string>jacket</string>
		<key>coord-initial</key>
		<dict>
			<key>x</key>
			<integer>583</integer>
			<key>y</key>
			<integer>651</integer>
		</dict>
		<key>file-image</key>
		<string>song_jacket_iPad.png</string>
		<key>file-imagePlaced</key>
		<string>song_jacket_placed_iPad.png</string>
	</dict>
	<dict>
		<key>elemName</key>
		<string>hat</string>
		<key>coord-initial</key>
		<dict>
			<key>x</key>
			<integer>503</integer>
			<key>y</key>
			<integer>651</integer>
		</dict>
		<key>file-image</key>
		<string>song_hat_iPad.png</string>
		<key>file-imagePlaced</key>
		<string>song_hat_iPad.png</string>
	</dict>
	<dict>
		<key>elemName</key>
		<string>backpack</string>
		<key>coord-initial</key>
		<dict>
			<key>x</key>
			<integer>400</integer>
			<key>y</key>
			<integer>651</integer>
		</dict>
		<key>file-image</key>
		<string>song_backpack_iPad.png</string>
		<key>file-imagePlaced</key>
		<string>song_backpack_placed_iPad.png</string>
	</dict>
</array>
</plist>
